* {
    margin: 0;
    padding: 0;

}
.active {
    background-color:rgb(35, 175, 0);
}
.inactive {
    background-color: rgb(51, 1, 1);
}

.count {
    font-size: 3.5rem;
}

.option {
    min-height: 285px;
}